
<!-- <input type="file" class="file-upl  oad" onchange="console.log(event.target.files)"> -->
<div class="form">             

   <c-card class="mb-4">
      <c-card-header>Importation</c-card-header>
      <c-card-body>
         <form >
      
            <div class="mb-4">
               <label class="label mb-4">Choisiser un ficher :</label>
               <input type="file" class="form-control mb-3" id="file">
            </div>
                                                                   
            <div class="center mb-4">
                  <button type="button" class="btk  mb-4" >Upload</button>
             </div>
           
         </form>
      </c-card-body>
    </c-card>


  

</div>                