<!-- 


 <div class="card">
  
   <div class="container">
     <h4><b>Upload file</b></h4>
   
      <div class="form">             

       
          
      
              
            
                <form >
               
                   <div class="mb-4">
                      <label class="label mb-4">Choisiser un ficher :</label>
                      <input type="file" class="form-control mb-3" id="file">
                   </div>
                                                                          
                   <div class="center mb-4">
                         <button type="button" class="btk  mb-4" >Upload</button>
                    </div>
                  
                </form>
            
          
       
           
         
       
       </div>   

 
   </div>
 </div> -->


 <div class="card">
    <h5 class="card-header">Importation</h5>
    <div class="card-body">
       <form >
                
          <div class="mb-4">
             <label class="label mb-4">Choisiser un ficher :</label>
             <input type="file" class="form-control mb-3" id="file">
          </div>
                                                                 
          <div class="center mb-4">
                <button type="button" class="btk " >Upload</button>
           </div>
         
       </form>
    </div>
  </div>
 
 